.form-group select,
.form-group input {
    border: 1px solid #e6e6ff;
    border-radius: 5px;
}

.form-group select:focus,
.form-group input:focus {
    box-shadow: none;
    border: 2px solid #967bc7 !important;
}

.card.card-body {
    justify-content: center;
    border-radius: 15px;
}

#id_profile_pic {
    height: 45px;
}

#reg_id{
    visibility: hidden !important;
    margin-top: -40px;
}