{%  extends 'attendence_sys/main.html' %}
{% block content %}



<br>
<div class="row" id="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
			<hr>
			<center>
			<h3>Faculty Profile Pic</h3>
			</center>
			<hr>
			<img class="img-responsive profile-pic" src="{{request.user.faculty.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-body">
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}

			<div class="button">
				<input type="submit" value="Submit" name="Update Information" disabled/>
				</a>
			  </div>
			</form>
		</div>
	</div>
</div>



{% endblock %}