{% extends 'attendence_sys/main.html' %}
{% block content %}

    <div class="row" id = "row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
                <hr>
                <h3 >Student Profile Pic</h3>
                <hr>
                <img class="img-responsive profile-pic" src="{{ student.profile_pic.url }}" >
            </div>
        </div>
        <div class="col-md-6">
            
            <div class="card card-body">
            <form action="{% url 'updateStudent' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="visibility: hidden !important;margin-top: -40px;">
                    <input type="text" class="form-control" value="{{ prev_reg_id }}" name="prev_reg_id">
                </div>
                {{ form.as_p }}
                <div class="button">
                    <input type="submit" value="Submit" name="Update Information" />
                    </a>
                  </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}